@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    #info img {
        display: none;
    }
    #info h1 {
        font-size: 35px;
        margin-bottom: 50px;
        margin-left: 20px;
    }
    #bloco {
        width: 90%;
        padding: 0;
        padding-top: 20px;
        flex-direction: column;
    }
}
 